<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
        <!-- 引入组件库 -->
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script src="../js/vue.js"></script>
        <script src="../plugins/elementui/index.js"></script>
        <script src="../js/axios-0.18.0.js"></script>
        <script src="https://unpkg.com/qiniu-js@2.5.4/dist/qiniu.min.js"></script>
        <style>
            .avatar-uploader .el-upload {
                border: 1px dashed #d9d9d9;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }
            .avatar-uploader-icon {
                font-size: 28px;
                color: #8c939d;
                width: 178px;
                height: 178px;
                line-height: 178px;
                text-align: center;
            }
            .avatar {
                width: 178px;
                height: 178px;
                display: block;
            }
            .datatable {
                position: relative;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                color: rgb(96, 98, 102);
                overflow: hidden;
                flex: 1 1 0%;
            }
            .datatable td, .datatable th {
                padding: 12px 0;
                min-width: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                position: relative;
                text-align: left;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>预约管理<small>套餐管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>预约管理</el-breadcrumb-item>
                    <el-breadcrumb-item>套餐管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="编码/名称/助记码" v-model="pagination.queryString" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                        <el-button @click="findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="code" label="套餐编码" align="center"></el-table-column>
                        <el-table-column prop="name" label="套餐名称" align="center"></el-table-column>
                        <el-table-column label="适用性别" align="center">
                            <template slot-scope="scope">
                                <span>{{ scope.row.sex == '0' ? '不限' : scope.row.sex == '1' ? '男' : '女'}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="age" label="适用年龄" align="center"></el-table-column>
                        <el-table-column prop="helpCode" label="助记码" align="center"></el-table-column>
                        <el-table-column prop="remark" label="说明" align="center"></el-table-column>
                        <el-table-column label="操作" align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini">编辑</el-button>
                                <el-button size="mini" type="danger">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增套餐" :visible.sync="dialogFormVisible" v-if="dialogFormVisible">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="基本信息" name="first">
                                        <el-form label-position="right" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="编码">
                                                        <el-input v-model="formData.code"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="名称">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="适用性别">
                                                        <el-select v-model="formData.sex">
                                                            <el-option label="不限" value="0"></el-option>
                                                            <el-option label="男" value="1"></el-option>
                                                            <el-option label="女" value="2"></el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="助记码">
                                                        <el-input v-model="formData.helpCode"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="套餐价格">
                                                        <el-input v-model="formData.price"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="适用年龄">
                                                        <el-input v-model="formData.age"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="上传图片">
                                                        <el-upload
                                                                class="avatar-uploader"
                                                                action=""
                                                                :auto-upload="autoUpload"
                                                                :show-file-list="false"
                                                                :before-upload="beforeAvatarUpload">
                                                            <!--如果图片有路径，显示图片， 否则显示其他-->
                                                            <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                                            <div v-else>
                                                                <!-- 如果 进度值不为0 ，显示进度条， 如果为0 ，显示其他-->
                                                                <el-progress v-if="percent" :width="176" type="circle" :percentage="percent"></el-progress>
                                                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                                            </div>
                                                        </el-upload>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="说明">
                                                        <el-input v-model="formData.remark" type="textarea"></el-input>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="24">
                                                    <el-form-item label="注意事项">
                                                        <el-input v-model="formData.attention" type="textarea"></el-input>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="检查组信息" name="second">
										<div class="checkScrol">
											<table class="datatable">
												<thead>
												<tr>
													<th>选择</th>
													<th>项目编码</th>
													<th>项目名称</th>
													<th>项目说明</th>
												</tr>
												</thead>
												<tbody>
												<tr v-for="c in tableData">
													<td>
														<input :id="c.id" v-model="checkgroupIds" type="checkbox" :value="c.id">
													</td>
													<td><label :for="c.id">{{c.code}}</label></td>
													<td><label :for="c.id">{{c.name}}</label></td>
													<td><label :for="c.id">{{c.remark}}</label></td>
												</tr>
												</tbody>
											</table>
										</div>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                autoUpload:true,//自动上传
                imageUrl:null,//模型数据，用于上传图片完成后图片预览
                activeName:'first',//添加/编辑窗口Tab标签名称
                pagination: {//分页相关属性
                    currentPage: 1,
                    pageSize:10,
                    total:100,
                    queryString:null,
                },
                dataList: [],//列表数据
                formData: {},//表单数据
                tableData:[],//添加表单窗口中检查组列表数据
                checkgroupIds:[],//添加表单窗口中检查组复选框对应id
                dialogFormVisible: false,//控制添加窗口显示/隐藏
                backend_url:"http://localhost:82",
                qiniu_domain_url: "http://qfxjrk1lr.hd-bkt.clouddn.com/", // 七牛测试域名
                percent: 0 // 进度值
            },
            created() {
                this.findPage();
            },
            methods: {
                //上传图片之前执行
                beforeAvatarUpload(file) {
                    /**
                     * ==  只判断值   "123" ===  123（true）
                     * ===  既判断类型也判断值   "123" ===  123  (false)
                     */
                        // 如果file.type 不能获取文件类型，请采用下面的方法
                        // const isJPG = file.type === 'image/jpeg';
                        //获取文件的类型
                        //获取文件名
                    let fileName = file.name;
                    //截取 文件后缀名:从最后一个 [.]  的索引开始截取
                    let extendName = fileName.substr( fileName.lastIndexOf("."));
                    console.log(extendName);
                    const isJPG = extendName === ".jpg" || extendName === ".jpeg" || extendName === ".png";
                    const isLt2M = file.size / 1024 / 1024 < 2;
                    if (!isJPG) {
                        this.$message.error('上传套餐图片只能是 JPG 格式!');
                    }
                    if (!isLt2M) {
                        this.$message.error('上传套餐图片大小不能超过 2MB!');
                    }
                    if(isJPG && isLt2M){
                        this.upload_img(file);
                    }
                },
                //图片类型判断通过后，开始上传图片
                /**
                 * 步骤
                 *  0. 引入依赖和js文件
                 *  1. 获取token
                 *  2. 生成唯一的文件名
                 *  3. 开始上传图片到七牛云
                 *  4. 解析上传结果
                 */
                upload_img(file){
                    //清除图片路径， 解决 二次上传图片看不到 进度条的问题
                    this.imageUrl = "";
                    //获取token
                    axios.get(this.backend_url + "/setmeal/getToken.do").then((res) => {
                        console.log(res);
                        let token = res.data.data;
                        //生成唯一的文件名称
                        //uuid
                        let uuid = this.generateUUID();
                        //获取文件名
                        let filename = file.name;
                        //截取后缀名:   jpg  png
                        let extendName = filename.substr(filename.lastIndexOf("."));
                        //唯一的文件名称
                        let serverName = uuid + extendName;
                        console.log(serverName);
                        //开始上传，对上传的结果进行解析
                        //配置七牛的参数
                        const config = {
                            useCdnDomain: true,
                            region: qiniu.region.z0
                        };
                        const putExtra = {
                            fname: "",
                            mimeType: ""
                        };
                        let observable = qiniu.upload(file, serverName, token, putExtra, config)
                        //对上传的过程和结果解析
                        observable.subscribe({
                            next:(res)=>{
                                // 过程的解析
                                console.log(res);
                                //Math.floor  向上取整
                                this.percent = Math.floor(res.total.percent);
                            },
                            error:(err)=>{
                                //失败后的回调
                                this.$message({
                                    message:'上传图片失败',
                                    type: "error"
                                });
                            },
                            complete:(res)=>{
                                this.$message({
                                    message:'上传图片成功',
                                    type: "success"
                                });
                                this.imageUrl = this.qiniu_domain_url + serverName+"_itcast";
                                //清除进度值为0, 为了解决 二次上传进度条 默认 100% 的问题
                                this.percent = 0;
                                this.formData.img = serverName;
                            }
                        });
                    }).catch((err) => {
                        console.log(err);
                    });
                },
                //生成uuid
                generateUUID() {
                    var d = new Date().getTime();
                    if (window.performance && typeof window.performance.now === "function") {
                        d += performance.now(); //use high-precision timer if available
                    }
                    var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                        var r = (d + Math.random() * 16) % 16 | 0;
                        d = Math.floor(d / 16);
                        return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                    });
                    return uuid;
                },// 返回 类似 20160102 格式的字符串
                formatDate: function () {
                    var date = new Date();
                    var y = date.getFullYear();
                    var m = date.getMonth() + 1;
                    if (m < 10) m = "0" + m;
                    var d = date.getDate();
                    if (d < 10) d = "0" + date.getDate();
                    return y + "" + m + "" + d
                },
                //添加
                /**
                 * 点击确认按钮，执行的方法
                 * 步骤：
                 *  1. 发送请求，提交套餐基本信息和选中的检查组信息
                 *  2. 请求完成后
                 *      2.1 消息提示
                 *      2.2 关闭窗口
                 *      2.3 重新查询
                 *
                 */
                handleAdd () {
                    axios.post(
                        this.backend_url+"/setmeal/add.do?checkgroupIds=" + this.checkgroupIds,
                        this.formData
                    ).then((res)=> {
                        this.dialogFormVisible = false;
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? "success":"error"
                        });
                        this.findPage();
                    })
                },
                _findPage(){
                    if( this.pagination.queryString != null && this.pagination.queryString.length != 0){
                        this.pagination.currentPage = 1;
                    }
                    this.findPage();
                },
                //分页查询
                findPage() {
                    //分页参数
                    var param = {
                        currentPage:this.pagination.currentPage,//页码
                        pageSize:this.pagination.pageSize,//每页显示的记录数
                        queryString:this.pagination.queryString//查询条件
                    };
                    //请求后台
                    axios.post(this.backend_url + "/setmeal/findPage.do",param).then((res)=> {
                        //为模型数据赋值，基于VUE的双向绑定展示到页面
                        this.dataList = res.data.data.rows;
                        this.pagination.total = res.data.data.total;
                    });
                },
                // 重置表单
                resetForm() {
                    this.formData = {};
                    this.activeName='first';
                    this.checkgroupIds = [];
                    this.imageUrl = null;
                },
                /**
                 * 点击新增按钮，执行的方法
                 * 步骤：
                 *  1. 弹出窗口
                 *  2. 清除数据
                 *  3. 回显检查组数据
                 */
                handleCreate() {
                    this.dialogFormVisible = true;
                    this.resetForm();
                    axios.get(this.backend_url + "/checkgroup/findAll.do").then((res)=>{
                        if(!res.data.flag){
                            this.$message({
                                message: res.data.message,
                                type:"error"
                            });
                        }
                        this.tableData = res.data.data;
                    }).catch((err)=>{
                        console.log(err);
                    });
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    //currentPage为切换后的页码
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                }
            }
        })
    </script>
</html>
